<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Begruessungshtml</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <a class="navbar-brand" href="#">MenuCalc Marc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('berechnung') }}">Berechnung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('einkaufsliste') }}">Einkaufsliste</a>
        </li>
</ul>
    </div>
  </div>
</nav>
<div class="m-5">
<h1>Hallo {{ vorname }} <br> Du willst also  {{ rezepteliste }} für {{ personenzahl }} Personen kochen. <br>Gute Wahl!</br> </h1>
<h2>Dafür brauchst du folgende Zutaten:</h2>
<!--Hier dict mit angepasstem rezept eingeben
Jinja durchloopen mit for die gewissen Items-->
  <!-- Für den Aufbau der Tabelle https://www.w3schools.com/html/html_tables.asp mit Bootstrap https://getbootstrap.com/docs/4.0/content/tables/ -->
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Zutat</th>
    <th scope="col">Menge</th>
    <th scope="col">Mengenart</th>
  </tr>
  </thead>
  <tbody>
  {% for zutat in rezeptberechnet %}
  <tr>
    <td>{{ zutat["name"] }}</td>
    <td>{{ zutat["menge"] }}</td>
    <td>{{ zutat["mengenart"] }}</td>
  </tr>
{% endfor %}
    </tbody>

</table>
  <br>
<h3>Folgende Zutaten musst du noch einkaufen gehen:</h3>
  <!--<input type="submit" class="btn btn-primary mt-1" value="Einkaufsliste" name="eintragen"> brauch ich diesen Submit? -->
  <a class="btn btn-primary mt-1" aria-current="page" href="{{ url_for('einkaufsliste') }}">Einkaufsliste</a>
    </div>
</body>
</html>