<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einkaufsliste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <a class="navbar-brand" href="#">MenuCalc Marc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('berechnung') }}">Berechnung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('einkaufsliste') }}">Einkaufsliste</a>
        </li>
</ul>
    </div>
  </div>
</nav>
<div class="m-5">
<h1>Deine Einkaufsliste für das Menu {{ rezepteliste }}:</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Zutat</th>
    <th scope="col">benötigte Menge</th>
    <th scope="col">empfohlene Menge</th>
  </tr>
  </thead>
  <tbody>
  {% for zutat in einkaufsliste %}
  <tr>
    <td>{{ zutat["name"] }}</td>
    <td>{{ zutat["benötigte_anzahl"] }}</td>
    <td>{{ zutat["mindestbestand_anzahl"] }}</td>
  </tr>
{% endfor %}
    </tbody>
</table>
  <h3>Hier kannst du dir deine Einkaufsliste einfach ausdrucken</h3>
  <!-- https://stackoverflow.com/questions/18191893/generate-pdf-from-html-in-div-using-javascript wurde verwendet
  die Einkaufsliste ausdrucken zu können-->
  <input type="submit" class="btn btn-primary mt-1" onclick="window.print();" value="Print">
  <form method="POST">
    <input type="submit" class="btn btn-primary mt-1" name="neu" value="Neues Rezept berechnen" formaction="{{ url_for('hello') }}">
  </form>
  </div>
</body>
</html>