<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einkaufsliste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <a class="navbar-brand" href="#">MenuCalc Marc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('berechnung') }}">Berechnung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('einkaufsliste') }}">Einkaufsliste</a>
        </li>
</ul>
    </div>
  </div>
</nav>
<div class="m-5">
{% if buttontoggle == true %}<!-- damit die einkaufsmöglichkeiten angezeigt werden -->
<h1>Deine Einkaufsliste für das Menu:</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Zutat</th>
    <th scope="col">benötigte Menge</th>
    <th scope="col">empfohlene Menge <input class="btn btn-warning ml-3" style="max-width:5%"data-toggle="tooltip"
                                            data-placement="top" title="benötigte Menge + Mindestbestand" value="i"></th>
      <!-- https://getbootstrap.com/docs/4.0/components/tooltips/ hinweis das bei der empfohlenen menge auch der
      mindestbestand hinzugerechnet wird -->
  </tr>
  </thead>
  <tbody>
  {% for zutat in einkaufsliste %}
  <tr>
    <td>{{ zutat["name"] }}</td>
    <td>{{ zutat["benötigte_anzahl"] }}</td>
    <td>{{ zutat["mindestbestand_anzahl"] }}</td>
  </tr>
{% endfor %}
    </tbody>
</table>
    <form method="POST">
    <h3>Hier kannst du dir deine Einkaufsliste einfach ausdrucken</h3>
    <!-- https://stackoverflow.com/questions/18191893/generate-pdf-from-html-in-div-using-javascript wurde verwendet
    um die einkaufsliste ausdrucken zu können -->
    <input type="submit" class="btn btn-primary mt-1" onclick="window.print();" value="Ausdruck">
    <br>
    <br>
    <h3>Welche Mengen wirst du einkaufen? Wähle</h3>
    <input type="submit" class="btn btn-primary mt-1" name="benoetigt" value="benötigte Menge einkaufen">
    <input type="submit" class="btn btn-primary mt-1" name="mindestbestand" value="empfohlene Menge einkaufen">
{% endif %}
{% if buttontoggle == false %} <!-- um die seite anzupassen, sobald die einkäufe getätigt wurden -->
    <br>
        <h2>Du hast alles eingekauft und kannst los legen :) <br> Viel Spass!</h2>
    <br>
    <h3>Hier kannst du den MenuCalc neu starten</h3>
    <a href="{{ url_for('hello') }}" class="btn btn-danger mt-1">Neu starten</a>
{% endif %}
  </form>
  </div>
</body>
</html>