<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menucalc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<!-- bootstrap navbar gemäss vorlage -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <a class="navbar-brand" href="#">MenuCalc Marc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('berechnung') }}">Berechnung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('einkaufsliste') }}">Einkaufsliste</a>
        </li>
</ul>
    </div>
  </div>
</nav>
<div class="m-5">
    <h1>Hallo und Willkommen im MenuCalc</h1>
    <h2>Was soll es heute werden?</h2>
    <br>
<form method="POST">
    <input type="text" name="vorname" placeholder="dein Name">
    <br>
    <div class="form-group"> <!--https://www.webmart.de/web/form-generator selectbox-->
   <label>
       <br>
       <h4>Wähle ein Menü aus</h4>
   </label>
     <!-- https://stackoverflow.com/questions/60793245/dropdown-menu-in-flask-jinja-from-list für direkte übernahme von json datei in dropdownmenu-->
      <select class="form-control" name="rezepteliste">
          {% for name in rezepteliste %}
            <option value="{{ name }}" SELECTED>{{ name }}</option>
          {% endfor %}
          <option value="" disabled selected>bitte auswählen</option>
          <!-- https://stackoverflow.com/questions/5805059/how-do-i-make-a-placeholder-for-a-select-box -->
        </select>
        <input type="number" class="form-control mt-3" id="formGroupExampleInput1" name="anzahl" placeholder="Anzahl Leute">
        <input type="submit" class="btn btn-primary mt-1" value="Eintragen" name="eintragen"> <br>
        <a class="btn btn-primary mt-1" aria-current="page" href="{{ url_for('berechnung') }}">zur Berechnung</a>

    </div>
    <br>

</form>
</div>
</body>
</html>