<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Test"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Hallo und <3 Willkommen im MenuCalc</h1>
    <h2>Was möchtest du heute kochen?</h2>
    <a href="{{ url_for('menu')}}"> Rezept </a>
    <!-- <a href="{{ url_for('flammkuchen')}}"> Let's go </a>-->
    <br></br>

<!--<form>
  <div class="form-group"> <!--https://www.webmart.de/web/form-generator -->
   <!-- <label>Wähle ein Menü aus</label> <select class="form-control" name="selectbox_name">
      <option value="menu_1">
        Tomatensuppe
      </option>
      <option value="menu_2">
        Kürbissuppe
      </option>
      <option value="menu_3">
        Rösti
      </option>
    </select>
      <br></br>
      <label for="menge"> <!--https://wiki.selfhtml.org/wiki/HTML/Tutorials/Formulare/input/number -->
    <!--Anzahl Personen:
    <input id="menge" type="number" min="1" max="10" step="1" value="1"> Personen
  </label>
  </div>
    <br></br>
</form>-->
<form method="POST">
    <input type="text" name="vorname" placeholder="Gib deinen Namen ein">
    <br></br>
    <input type="text" name="menu" placeholder="Was willst du kochen?"/>
    <input type="number" name="anzahl" placeholder="Wie viele Leute?"/>
    <button type="submit">Senden</button>
</form>

</body>
</html>